*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block
}
li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body,
html {
  line-height: 1;
  height: 100%
}
button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
summary {
  list-style: none
}
summary::-webkit-details-marker,
summary::marker {
  display: none
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url(../fonts/OpenSans-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-arrow-top:before {
  content: ""
}
._icon-basket:before {
  content: ""
}
._icon-filter:before {
  content: ""
}
._icon-profile:before {
  content: ""
}
._icon-search:before {
  content: ""
}
._icon-s-facebook:before {
  content: ""
}
._icon-s-instagram:before {
  content: ""
}
._icon-s-linkedIn:before {
  content: ""
}
._icon-s-twitter:before {
  content: ""
}
.bd,
.form-follow__btn,
.form-follow__input,
.search-header__btn,
.search-header__input {
  padding-inline: .9375rem;
  padding-block: .4375rem;
  border-bottom: .125rem solid #1e2832;
  transition: .3s ease
}
.burger {
  position: relative;
  width: 1.875rem;
  height: 1.125rem
}
.burger span,
.burger::after,
.burger::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: .125rem;
  background-color: #000;
  border-radius: .125rem;
  transition: top .3s ease,width .3s ease,-webkit-transform .3s ease;
  transition: transform .3s ease,top .3s ease,width .3s ease;
  transition: transform .3s ease,top .3s ease,width .3s ease,-webkit-transform .3s ease
}
.burger::before {
  top: 0
}
._burger-open .burger::before {
  top: calc(50% - .0625rem);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.burger span {
  top: calc(50% - .0625rem)
}
._burger-open .burger span {
  width: 0
}
.burger::after {
  bottom: 0
}
._burger-open .burger::after {
  bottom: calc(50% - .0625rem);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.title {
  font-weight: 600;
  color: #000;
  font-size: 2.25rem;
  text-transform: capitalize;
  text-align: center
}
.filter {
  padding: .4375rem .9375rem;
  background-color: #1e2832;
  display: flex;
  align-items: center;
  gap: .25rem;
  color: #fff;
  transition: color .3s ease
}
body {
  font-family: OpenSans,sans-serif;
  color: #000
}
[class*=__container] {
  max-width: 84.375em;
  padding-inline: .9375em;
  margin: 0 auto
}
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column
}
.wrapper>main {
  flex: 1 1 auto
}
.header {
  position: sticky;
  z-index: 50;
  inset: 0;
  width: 100%;
  background-color: #f4f4f5
}
.header__container {
  position: relative
}
.top-header {
  padding-block: 1.5625rem;
  border-bottom: .0625rem solid #e3e3e3;
  display: flex;
  align-items: center;
  gap: .625rem;
  justify-content: space-between;
  position: relative;
  z-index: 6
}
.top-header__search button {
  font-size: 1.25rem;
  width: 1.5625rem;
  height: 1.5625rem;
  transition: color .3s ease;
  color: #1e2832
}
.top-header__logo {
  width: 11.25rem;
  flex-shrink: 0
}
.top-header__actions {
  flex: 1
}
.search-header {
  padding: .625rem;
  border-radius: .5rem;
  border: .0625rem solid #1e2832;
  background-color: #f4f4f5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 90%;
  width: 100%;
  padding-inline: .9375rem;
  display: flex;
  gap: 1.25rem;
  transition: .3s ease
}
._open-search .search-header {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  inset-block-start: calc(100% + .625rem)
}
.search-header__input::-webkit-input-placeholder {
  font-weight: 600;
  color: #898393
}
.search-header__input:-ms-input-placeholder {
  font-weight: 600;
  color: #898393
}
.search-header__input::-ms-input-placeholder {
  font-weight: 600;
  color: #898393
}
.search-header__input::placeholder {
  font-weight: 600;
  color: #898393
}
.actions-header {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap: 1.375rem
}
.actions-header__item {
  transition: color .3s ease;
  color: #1e2832;
  display: flex;
  align-items: center;
  gap: .5rem
}
.actions-header__item span {
  font-size: 1.125rem
}
.actions-header__item::before {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  width: 1.5625rem;
  aspect-ratio: 1
}
.bottom-header {
  padding-block: 1.25rem .625rem
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 3.4375rem;
  -moz-column-gap: 3.4375rem;
  column-gap: 3.4375rem;
  row-gap: .625rem;
  flex-wrap: wrap
}
.menu__link {
  color: #000;
  line-height: 1.5;
  transition: color .3s ease
}
.footer {
  padding-top: 5.625rem
}
.footer__top {
  padding-bottom: 5.625rem
}
.footer__logo {
  flex-shrink: 0;
  width: 11.25rem
}
.footer__text {
  color: #565e65;
  max-width: 24.5rem;
  text-transform: capitalize;
  line-height: 1.5
}
.top-footer__content {
  display: flex;
  gap: 2rem;
  flex-direction: column
}
.top-footer__menu {
  flex: 1
}
.footer-social {
  display: flex;
  gap: 2.25rem;
  flex-wrap: wrap
}
.footer-social__item {
  width: 1.5625rem;
  aspect-ratio: 1;
  font-size: 1.25rem;
  color: #1e2832;
  transition: color .3s ease
}
.spoilers__title {
  font-weight: 600;
  text-transform: uppercase
}
.spoilers__title:not(:last-child) {
  margin-bottom: 1.375rem
}
.spoilers__list>*:not(:last-child) {
  margin-bottom: .75rem
}
.spoilers__link {
  font-size: .875rem;
  line-height: 1.714;
  text-transform: capitalize;
  color: #1e2832;
  transition: color .3s ease
}
.bottom-footer {
  background-color: #1e2832;
  padding-block: .875rem
}
.bottom-footer__container {
  display: grid;
  grid-template-columns: 9.375rem 1fr 9.375rem;
  gap: .625rem
}
.bottom-footer__copy {
  color: #fff
}
.bottom-footer__payment {
  justify-self: center
}
.bottom-footer__scroll {
  display: flex;
  align-items: center;
  gap: .375rem;
  flex-direction: row-reverse;
  color: #fff;
  padding-right: .9375rem
}
.page__hero {
  background-color: #f4f4f5
}
.hero {
  padding-block: 5rem 3.75rem
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem
}
.hero__content {
  flex: 0 1 42.625rem;
  display: flex;
  flex-direction: column;
  gap: 3.4375rem
}
.hero__title {
  font-size: 4.625rem;
  text-transform: capitalize
}
.hero__text {
  font-size: 1.875rem;
  line-height: 1.8333;
  text-transform: capitalize
}
.hero__action {
  background-color: #1e2832;
  padding: 1.1875rem 1.625rem;
  display: flex;
  gap: .5rem;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.8125rem;
  align-self: flex-start;
  transition: background-color .3s ease
}
.hero__image {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center
}
.hero__borderline {
  padding-right: 1.125rem;
  padding-bottom: 1.25rem;
  position: relative
}
.hero__borderline::before {
  margin-top: 1.25rem;
  margin-left: 1.125rem;
  position: absolute;
  inset: 0;
  content: "";
  width: calc(100% - 1.125rem);
  height: calc(100% - 1.25rem);
  border: .125rem solid #b7b7b8;
  border-radius: 10rem 0 10rem 0
}
.hero__borderline img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 10rem 0 10rem 0;
  position: relative;
  z-index: 2;
  aspect-ratio: 424/542
}
.brands {
  padding-block: 5.625rem
}
.brands__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem 5rem
}
.brands__item {
  flex-shrink: 0
}
.brands__item img {
  aspect-ratio: 200/70
}
.category {
  -webkit-padding-after: 5.625rem;
  padding-block-end: 5.625rem
}
.category__container {
  position: relative
}
.category__title {
  font-size: 2.125rem;
  text-transform: uppercase;
  inline-size: 100%;
  text-align: center
}
.category__items {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill,minmax(15.875rem,1fr));
  grid-template-rows: repeat(2,1fr)
}
.category__item {
  overflow: hidden
}
.category__item:nth-child(10n+1),
.category__item:nth-child(10n+8) {
  grid-row: span 2;
  grid-column: span 2
}
.category__item img {
  aspect-ratio: 1;
  width: 100%;
  height: 100%
}
.products {
  padding-block: 3.125rem 5.625rem
}
.products__header:not(:last-child) {
  -webkit-margin-after: 2.1875rem;
  margin-block-end: 2.1875rem
}
.products__title:not(:last-child) {
  -webkit-margin-after: 2.1875rem;
  margin-block-end: 2.1875rem
}
.products__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.products__tab-body {
  display: none
}
.products__tab-body:target {
  display: block
}
.products__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(16.875rem,1fr));
  gap: 1.5rem
}
.tabs__navigation {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  text-transform: capitalize
}
.tabs__title {
  font-weight: 600;
  color: #909090;
  transition: color .3s ease
}
.tabs__title._tab-active {
  color: #000
}
.product {
  display: flex;
  flex-direction: column;
  gap: 1.125rem
}
.product__body {
  padding-inline: .625rem
}
.product__title {
  flex-grow: 1;
  font-weight: 600;
  text-transform: capitalize
}
.product__title:not(:last-child) {
  -webkit-margin-after: 1rem;
  margin-block-end: 1rem
}
.product__footer {
  display: flex;
  align-items: center;
  gap: .3125rem;
  justify-content: space-between
}
.product__label {
  color: #909090;
  text-transform: capitalize
}
.price {
  display: flex;
  align-items: center;
  gap: .75rem;
  font-weight: 600;
  color: #000
}
.price__old {
  color: gray;
  text-decoration: line-through;
  font-size: .875rem
}
.price__new {
  color: #ff6f61
}
.brand {
  background-color: #000;
  position: relative
}
.brand__decor {
  display: none
}
.brand__container {
  position: relative;
  height: 100%;
  display: flex
}
.brand__content {
  flex-basis: 37.5rem;
  display: flex;
  flex-direction: column;
  gap: 3.4375rem;
  align-items: flex-start
}
.brand__text {
  color: #fff;
  font-size: 1.625rem;
  line-height: 1.5384;
  text-transform: capitalize
}
.brand__action {
  padding: 1.1875rem 1.625rem;
  background-color: #fff;
  text-transform: capitalize;
  font-size: 1.8125rem;
  transition: background-color .3s ease,color .3s ease
}
.best {
  padding-block: 3.125rem 5.625rem
}
.best__header:not(:last-child) {
  margin-bottom: 2.1875rem
}
.best__title:not(:last-child) {
  margin-bottom: 2.1875rem
}
.best__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.best__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(16.875rem,1fr));
  gap: 1.5rem
}
.newsletter {
  padding-block: 6.25rem;
  background-color: #f4f4f5
}
.newsletter__container>*:not(:last-child) {
  margin-bottom: 4.375rem
}
.social-newsletter__title:not(:last-child) {
  margin-bottom: 3.4375rem
}
.social-newsletter__items {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap
}
.social-newsletter__item {
  flex-basis: 12.5rem;
  aspect-ratio: 1
}
.follow-newsletter__title:not(:last-child) {
  margin-bottom: 2.1875rem
}
.follow-newsletter__form {
  margin: 0 auto;
  max-width: 47.5rem
}
.form-follow {
  display: flex;
  gap: 1.625rem
}
.form-follow__input::-webkit-input-placeholder {
  font-weight: 600;
  color: #898393
}
.form-follow__input:-ms-input-placeholder {
  font-weight: 600;
  color: #898393
}
.form-follow__input::-ms-input-placeholder {
  font-weight: 600;
  color: #898393
}
.form-follow__input::placeholder {
  font-weight: 600;
  color: #898393
}
@media (min-width:37.5em) {
  .title {
    font-size: 3.125rem
  }
  .top-header__search {
    flex: 1
  }
  .brand__decor {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%
  }
  .brand__decor img {
    width: 83.333333%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
  .brand__decor::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 37.878788%;
    height: 100%;
    background: #fff;
    background: linear-gradient(90deg,rgba(255,255,255,0) 0,#000 59%)
  }
}
@media (min-width:43.75em) {
  .top-footer__container {
    display: flex;
    gap: 2.5rem
  }
}
@media (min-width:57.625em) {
  .spoilers {
    display: flex;
    justify-content: space-between
  }
}
@media (min-width:62.5em) {
  .brand__decor::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 38.125%;
    height: 100%;
    margin-top: 3.1875rem;
    background: url(../img/brand/logo.webp) top right/100% no-repeat
  }
  .brand__container {
    justify-content: flex-end
  }
  .brand__content {
    margin-right: 2.5rem
  }
}
@media (min-width:84.375em) {
  .brand__content {
    padding-top: 14.5625rem
  }
  .brand__content {
    padding-bottom: 5.625rem
  }
}
@media (min-width:90.625em) {
  .category__title {
    position: absolute;
    right: 100%;
    top: 0;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    -webkit-transform: scale(-1,-1);
    transform: scale(-1,-1)
  }
}
@media (min-width:62em) {
  .burger {
    display: none
  }
  .menu__list {
    align-items: center;
    justify-content: center
  }
}
@media (max-width:20em) {
  .brand__content {
    padding-top: 2.5rem
  }
  .brand__content {
    padding-bottom: 1.25rem
  }
}
@media (max-width:90.62375em) {
  .category__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
}
@media (max-width:62.49875em) {
  .brand__decor img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
  }
}
@media (max-width:62.06125em) {
  .newsletter {
    padding-block: 3.125rem
  }
}
@media (max-width:61.99875em) {
  .bottom-header {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    z-index: 5;
    left: 100%;
    top: 5.3125rem;
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-padding-after: 5.9375rem;
    padding-block-end: 5.9375rem;
    transition: .4s ease
  }
  ._burger-open .bottom-header {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    left: 0
  }
  .menu__list {
    flex-direction: column;
    row-gap: .9375rem
  }
  .menu__link {
    font-size: 1.5rem
  }
  .footer {
    padding-top: 3.125rem
  }
  .footer__top {
    padding-bottom: 3.125rem
  }
  .hero {
    padding-block: 3.125rem
  }
  .hero__container {
    flex-direction: column
  }
  .hero__content {
    flex-basis: auto;
    gap: 2.1875rem
  }
  .hero__title {
    font-size: 3.4375rem
  }
  .brands {
    padding-block: 3.125rem
  }
  .category {
    -webkit-padding-after: 3.125rem;
    padding-block-end: 3.125rem
  }
  .products {
    -webkit-padding-after: 3.125rem;
    padding-block-end: 3.125rem
  }
  .best {
    -webkit-padding-after: 3.125rem;
    padding-block-end: 3.125rem
  }
}
@media (max-width:57.62375em) {
  .spoilers__title {
    text-align: center;
    border: .0625rem solid #565e65;
    padding: .75rem
  }
  .spoilers__list {
    text-align: center
  }
  .spoilers__link {
    font-size: 1.625rem
  }
}
@media (max-width:56.24875em) {
  .top-header__search button {
    font-size: 1.5rem
  }
  .actions-header__item span {
    display: none
  }
  .actions-header__item::before {
    font-size: 1.75rem
  }
}
@media (max-width:47.99875em) {
  .footer {
    padding-top: 1.25rem
  }
  .footer__top {
    padding-bottom: 1.25rem
  }
  .hero {
    padding-block: 1.25rem
  }
  .hero__content {
    gap: 1.25rem
  }
  .brands {
    padding-block: 1.25rem
  }
  .category {
    -webkit-padding-after: 1.25rem;
    padding-block-end: 1.25rem
  }
  .products {
    padding-block: 1.25rem
  }
  .best {
    padding-block: 1.25rem
  }
  .newsletter {
    padding-block: 1.25rem
  }
  .newsletter__container>*:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .social-newsletter__title:not(:last-child) {
    margin-bottom: 2.1875rem
  }
}
@media (max-width:43.74875em) {
  .top-footer__container>*:not(:last-child) {
    margin-bottom: 1.25rem
  }
}
@media (max-width:40.62375em) {
  .bottom-footer__container {
    grid-template-columns: 1fr 1fr
  }
  .bottom-footer__payment {
    order: -1;
    grid-column: span 2
  }
}
@media (max-width:37.49875em) {
  .top-header {
    padding-block: .9375rem
  }
  .bottom-header {
    top: 4.0625rem
  }
  .hero__text {
    font-size: 1.5rem
  }
  .hero__action {
    font-size: 1.5rem;
    padding: .75rem .8125rem
  }
  .category__title {
    font-size: 1.75rem
  }
  .category__item:nth-child(10n+1),
  .category__item:nth-child(10n+8) {
    grid-row: span 1;
    grid-column: span 1
  }
  .brand__content {
    gap: 1.5625rem
  }
  .brand__text {
    font-size: 1.375rem
  }
}
@media (max-width:28.12375em) {
  .top-header__logo {
    width: 8.75rem
  }
  .actions-header {
    gap: .75rem
  }
}
@media (min-width:20em)and (max-width:84.375em) {
  @supports (padding-top:clamp(2.5rem ,-1.2475728155rem + 18.7378640777vw ,14.5625rem)) {
    .brand__content {
      padding-top: clamp(2.5rem ,-1.2475728155rem + 18.7378640777vw ,14.5625rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,-1.2475728155rem + 18.7378640777vw ,14.5625rem)) {
    .brand__content {
      padding-top: calc(2.5rem + 12.0625*(100vw - 20rem)/ 64.375)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,-0.109223301rem + 6.7961165049vw ,5.625rem)) {
    .brand__content {
      padding-bottom: clamp(1.25rem ,-.109223301rem + 6.7961165049vw ,5.625rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,-0.109223301rem + 6.7961165049vw ,5.625rem)) {
    .brand__content {
      padding-bottom: calc(1.25rem + 4.375*(100vw - 20rem)/ 64.375)
    }
  }
}
@media (any-hover:hover) {
  .bd:hover,
  .form-follow__btn:hover,
  .form-follow__input:hover,
  .search-header__btn:hover,
  .search-header__input:hover {
    border-color: #ff6f61
  }
  .filter:hover {
    color: #ff6f61
  }
  .top-header__search button:hover {
    color: #ff6f61
  }
  .search-header__btn:hover {
    color: #ff6f61
  }
  .actions-header__item:hover {
    color: #ff6f61
  }
  .menu__link:hover {
    color: #ff6f61
  }
  .footer-social__item:hover {
    color: #ff6f61
  }
  .spoilers__link:hover {
    color: #ff6f61
  }
  .hero__action:hover {
    background-color: #ff6f61
  }
  .tabs__title:hover {
    color: #ff6f61
  }
  .brand__action:hover {
    background-color: #ff6f61;
    color: #fff
  }
  .form-follow__btn:hover {
    color: #ff6f61
  }
}